
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Vitec Abonnement System </h1>
        <p>Lære mere om Vitec her <a href="https://www.mv-nordic.com/dk/">bygger applikationer for de ordblinde</a>.</p>
        <section class="pricing py-5  ">
            <div class="row mt-4 ">
                <div class="col-sm-6">
                    <div class="card border-dark">
                        <div class="card-body">
                            <h3 style="font-size:20px;" class="card-title">CD-ORD</h3>
                            <p class="card-text">Pc-baseret læse- og skriveværktøj, der hjælper usikre læsere og ordblinde</p>
                            <a href="#" class="btn btn-primary">Klik</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-dark">
                        <div class="card-body">
                            <h3 style="font-size:20px;" class="card-title">IntoWords</h3>
                            <p class="card-text">Digitalt værktøj, der gør det nemt at læse, skrive og lære på tablets, smartphones, Mac og i skyen</p>
                            <a href="#" class="btn btn-primary">Klik</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="pricing py-5  ">
            <div class="container">
                <div class="row justify-content-md-center">
                    <!-- Free Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body ">
                                <h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
                                <h6 class="card-price text-center">0Kr<span class="period">/måned</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                    <!-- Plus Tier -->
                    <!-- Pro Tier -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                <h6 class="card-price text-center">149Kr<span class="period">/måned</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                                </ul>
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="pricing py-5  ">
            <div class="card text-center  border-dark">

                <div class="card-body">
                    <h3 style="font-size:20px;"class="card-title">Prøv Gratis</h3>
                    <p class="card-text">Her skal der stå noget om vores gratis prøve periode</p>
                    <a href="#" class="btn btn-primary">Klik</a>
                </div>

            </div>
        </section>
            <section class="pricing py-5  ">
                <div class="card text-center mt-4 border-dark">

                    <div class="card-body">
                        <h3 style="font-size:20px;"  class="card-title">Kontakt</h3>
                        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                        <a href="#" class="btn btn-primary">Klik</a>
                    </div>

                </div>
                </section>

</div>

