@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Vitec Abonnement System </h1>
        <p>Lære mere om Vitec her <a href="https://www.mv-nordic.com/dk/">bygger applikationer for de ordblinde</a>.</p>

        <div class="row mt-4 ">
            <div class="col-sm-6">
                <div class="card border-dark">
                    <div class="card-body">
                        <h5 class="card-title">CD-ORD</h5>
                        <p class="card-text">Pc-baseret læse- og skriveværktøj, der hjælper usikre læsere og ordblinde</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-dark">
                    <div class="card-body">
                        <h5 class="card-title">IntoWords</h5>
                        <p class="card-text">Digitalt værktøj, der gør det nemt at læse, skrive og lære på tablets, smartphones, Mac og i skyen</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">


            <div class="col-md-4">
                <div class="card mb-4 border-dark">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Growth</h5>
                        <p class="card-text">Her skal der stå noget tekst om vores Abonnement. Navnet er en placeholder</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 border-dark">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pro</h5>
                        <p class="card-text">Her skal der stå noget tekst om vores Abonnement. Navnet er en placeholder</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 border-dark">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Performer</h5>
                        <p class="card-text">Her skal der stå noget tekst om vores Abonnement. Navnet er en placeholder</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card text-center  border-dark">

            <div class="card-body">
                <h5 class="card-title">Prøv Gratis</h5>
                <p class="card-text">Her skal der stå noget om vores gratis prøve periode</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>

        <div class="card text-center mt-4 border-dark">

            <div class="card-body">
                <h5 class="card-title">Kontakt</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>


    </div>
