@model IEnumerable<VitecProjekt.Models.Product>

@{
    ViewData["Title"] = "Index";

}







<div class="row">
    <div class="col-md-6">
        <div class="card" >
            <img src="~/Images/girl.png" class="card-img-top" style="max-height: 270px" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card ">
            <img src="~/Images/olddudepc.jpg" style="max-height: 270px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
    @await Component.InvokeAsync("Product")
</div>